* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    height: 2000px;
    width: 90%;
    margin: auto;
    padding: 50px;
    background: #f0e7e7;
    max-width: 1449px;
}
#hero {
    width: 200px;
    height: 100px;
    display: inline-block;
    left: 80px;
    
}
.img {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: right;
    text-align: right;
}
.header {
    display: flex;
    margin: 20px;
    background-color: whitesmoke;
    justify-content: right;
    position: sticky;
    top: 0px;
}
.h1 {
    margin: 10px;
    background-color: #fff;
    left: 100px;
}
.Service-Header h2 {
    font-size: 45px ;
    font-weight: 700;
}
.services1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.services2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: lightblue;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.service-items1 {
    border: 1px solid grey;
    padding: 20px;
    width: 400px;
    height: 100px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-out 0,3s;
}
.service-items1:hover {
    box-shadow: gray;
}

.services2 .service-items2 {
    border: 1px solid grey;
    padding: 20px;
    width: 400px;
    height: 100px;
    margin: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-out 0,3s;
}
.service2 .service-items2:hover {
    box-shadow: gray;
}
    