@media screen and (max-width: 960px) {
    .service-item {
        max-width: calc((100% - 20px) / 2);
    }
}

@media screen and (max-width: 690px) {
    .service-item {
        max-width: calc(100% - 20px);
        font-size: 20px;
    }
    
}